<a href="https://colab.research.google.com/github/Chandu106/Regression_project_03_Diamond_price_prediction/blob/main/Diamond_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **REQUIRED IMPORTS**

In [ ]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# **READING THE DATA**

In [ ]:
diamond_01 = pd.read_csv("https://raw.githubusercontent.com/Chandu106/Regression_project_03_Diamond_price_prediction/main/Regression_data_01.csv")

In [ ]:
diamond_01.head()

   carat        cut  cut_ord color clarity  clarity_ord  price
0   0.51    Premium        4     F     VS1            4   1749
1   2.25       Fair        1     G      I1            1   7069
2   0.70  Very Good        3     E     VS2            5   2757
3   0.47       Good        2     F     VS1            4   1243
4   0.30      Ideal        5     G    VVS1            7    789

In [ ]:
len(diamond_01)

50000

# **ONE-HOT ENCODING**
**CONVERTING THE CATEGORICAL DATA INTO NUMERICAL DATA**

In [ ]:
# in some of the columns there are alphabetical categories but machine learning model can work in numericals only so now we have to convert non numerical columns to numerical by one hot encoding

diamond_01_one_hot = pd.get_dummies(diamond_01)
diamond_01_one_hot.head()

,carat,cut_ord,clarity_ord,price,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_D,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.51,4,4,1749,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1,2.25,1,1,7069,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0.70,3,5,2757,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,0.47,2,4,1243,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0.30,5,7,789,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
X = diamond_01_one_hot.drop("price", axis = 1)
y = diamond_01_one_hot["price"]

In [ ]:
X.head()

,carat,cut_ord,clarity_ord,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_D,color_E,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.51,4,4,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,2.25,1,1,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0.70,3,5,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
3,0.47,2,4,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0.30,5,7,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
y.head()

0    1749
1    7069
2    2757
3    1243
4     789
Name: price, dtype: int64

# **TRAINING AND TESTING DATA**
# **80:20**

In [ ]:
# splitting our data as training and testing to train our model

from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X,
                                                       y,
                                                       test_size=0.2,
                                                       random_state=42)

In [ ]:
len(X) , len(X_train) , len(X_test)
len(y) , len(y_train) , len(y_test)

(50000, 40000, 10000)

# **MODEL_01**

In [ ]:
# All the training and testing data is ready we have to build a model

# set random seed
tf.random.set_seed(42)

#creating the model
model_01 = tf.keras.Sequential([
    tf.keras.layers.Dense(100),
    tf.keras.layers.Dense(10),
    tf.keras.layers.Dense(1)
])

#compiling the model
model_01.compile(loss = tf.keras.losses.mae,
                 optimizer = tf.keras.optimizers.SGD(),
                 metrics = ["mae"])

#fit the model

model_01.fit(X_train , y_train , epochs = 50)

Epoch 1/50
1250/1250 [==============================] - 4s 3ms/step - loss: 2357.5239 - mae: 2357.5239
Epoch 2/50
1250/1250 [==============================] - 4s 3ms/step - loss: 2301.4551 - mae: 2301.4551
Epoch 3/50
1250/1250 [==============================] - 3s 3ms/step - loss: 2215.6870 - mae: 2215.6870
Epoch 4/50
1250/1250 [==============================] - 3s 3ms/step - loss: 2065.0891 - mae: 2065.0891
Epoch 5/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1731.9304 - mae: 1731.9304
Epoch 6/50
1250/1250 [==============================] - 4s 3ms/step - loss: 1525.3939 - mae: 1525.3939
Epoch 7/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1405.6700 - mae: 1405.6700
Epoch 8/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1373.7740 - mae: 1373.7740
Epoch 9/50
1250/1250 [==============================] - 4s 3ms/step - loss: 1312.8188 - mae: 1312.8188
Epoch 10/50
1250/1250 [==============================] - 4s 3ms/step - loss: 1285.2767 - mae: 1285.2767
Epoch 11/50
1250/1250 [==============================] - 4s 3ms/step - loss: 1288.3102 - mae: 1288.3102
Epoch 12/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1279.0479 - mae: 1279.0479
Epoch 13/50
1250/1250 [==============================] - 4s 3ms/step - loss: 1257.6001 - mae: 1257.6001
Epoch 14/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1243.4486 - mae: 1243.4486
Epoch 15/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1236.8820 - mae: 1236.8820
Epoch 16/50
1250/1250 [==============================] - 4s 3ms/step - loss: 1216.3577 - mae: 1216.3577
Epoch 17/50
1250/1250 [==============================] - 4s 3ms/step - loss: 1224.4470 - mae: 1224.4470
Epoch 18/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1207.1154 - mae: 1207.1154
Epoch 19/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1195.0723 - mae: 1195.0723
Epoch 20/50
1250/1250 [==============================] - 4s 3ms/step - loss: 1222.8264 - mae: 1222.8264
Epoch 21/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1211.0225 - mae: 1211.0225
Epoch 22/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1217.9232 - mae: 1217.9232
Epoch 23/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1200.2476 - mae: 1200.2476
Epoch 24/50
1250/1250 [==============================] - 4s 3ms/step - loss: 1199.2134 - mae: 1199.2134
Epoch 25/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1210.5217 - mae: 1210.5217
Epoch 26/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1182.6885 - mae: 1182.6885
Epoch 27/50
1250/1250 [==============================] - 4s 3ms/step - loss: 1207.0161 - mae: 1207.0161
Epoch 28/50
1250/1250 [==============================] - 5s 4ms/step - loss: 1205.3616 - mae: 1205.3616
Epoch 29/50
1250/1250 [==============================] - 5s 4ms/step - loss: 1222.3511 - mae: 1222.3511
Epoch 30/50
1250/1250 [==============================] - 4s 3ms/step - loss: 1210.5187 - mae: 1210.5187
Epoch 31/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1187.6500 - mae: 1187.6500
Epoch 32/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1196.7074 - mae: 1196.7074
Epoch 33/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1189.3658 - mae: 1189.3658
Epoch 34/50
1250/1250 [==============================] - 4s 3ms/step - loss: 1202.6982 - mae: 1202.6982
Epoch 35/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1190.5612 - mae: 1190.5612
Epoch 36/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1212.3157 - mae: 1212.3157
Epoch 37/50
1250/1250 [==============================] - 4s 3ms/step - loss: 1196.0922 - mae: 1196.0922
Epoch 38/50
1250/1250 [==============================] - 4s 3ms/step - loss: 1187.0156 - mae: 1187.0156
Epoch 39/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1180.5916 - mae: 1180.5916
Epoch 40/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1189.7544 - mae: 1189.7544
Epoch 41/50
1250/1250 [==============================] - 4s 3ms/step - loss: 1167.3956 - mae: 1167.3956
Epoch 42/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1183.4673 - mae: 1183.4673
Epoch 43/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1184.2411 - mae: 1184.2411
Epoch 44/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1193.7690 - mae: 1193.7690
Epoch 45/50
1250/1250 [==============================] - 4s 3ms/step - loss: 1188.2961 - mae: 1188.2961
Epoch 46/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1194.6066 - mae: 1194.6066
Epoch 47/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1192.0760 - mae: 1192.0760
Epoch 48/50
1250/1250 [==============================] - 4s 3ms/step - loss: 1173.5365 - mae: 1173.5365
Epoch 49/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1182.2837 - mae: 1182.2837
Epoch 50/50
1250/1250 [==============================] - 3s 3ms/step - loss: 1158.8719 - mae: 1158.8719

# **TESTING ACCURACY**

In [ ]:
model_01.evaluate(X_test, y_test)

313/313 [==============================] - 1s 2ms/step - loss: 802.3738 - mae: 802.3738

[802.373779296875, 802.373779296875]

# **MODEL_02**

In [ ]:

tf.random.set_seed(42)

# Add an extra layer and increase number of units
model_02 = tf.keras.Sequential([
  tf.keras.layers.Dense(10000),
  tf.keras.layers.Dense(1000),
  tf.keras.layers.Dense(100),
  tf.keras.layers.Dense(10),
  tf.keras.layers.Dense(1)
])

# Compile the model
model_02.compile(loss=tf.keras.losses.mae,
                          optimizer=tf.keras.optimizers.Adam(lr = 0.001),
                          metrics=['mae'])

history = model_02.fit(X_train, y_train, epochs=50)

WARNING:absl:`lr` is deprecated in Keras optimizer, please use `learning_rate` or use the legacy optimizer, e.g.,tf.keras.optimizers.legacy.Adam.

Epoch 1/50
1250/1250 [==============================] - 8s 5ms/step - loss: 923.6278 - mae: 923.6278
Epoch 2/50
1250/1250 [==============================] - 6s 5ms/step - loss: 784.8430 - mae: 784.8430
Epoch 3/50
1250/1250 [==============================] - 6s 5ms/step - loss: 787.0067 - mae: 787.0067
Epoch 4/50
1250/1250 [==============================] - 6s 5ms/step - loss: 778.0927 - mae: 778.0927
Epoch 5/50
1250/1250 [==============================] - 6s 4ms/step - loss: 780.9730 - mae: 780.9730
Epoch 6/50
1250/1250 [==============================] - 6s 5ms/step - loss: 774.5984 - mae: 774.5984
Epoch 7/50
1250/1250 [==============================] - 6s 4ms/step - loss: 774.9285 - mae: 774.9285
Epoch 8/50
1250/1250 [==============================] - 6s 5ms/step - loss: 771.6940 - mae: 771.6940
Epoch 9/50
1250/1250 [==============================] - 6s 5ms/step - loss: 771.0673 - mae: 771.0673
Epoch 10/50
1250/1250 [==============================] - 11s 8ms/step - loss: 773.0772 - mae: 773.0772
Epoch 11/50
1250/1250 [==============================] - 6s 5ms/step - loss: 769.4542 - mae: 769.4542
Epoch 12/50
1250/1250 [==============================] - 5s 4ms/step - loss: 767.4553 - mae: 767.4553
Epoch 13/50
1250/1250 [==============================] - 6s 4ms/step - loss: 763.7730 - mae: 763.7730
Epoch 14/50
1250/1250 [==============================] - 6s 5ms/step - loss: 764.8986 - mae: 764.8986
Epoch 15/50
1250/1250 [==============================] - 5s 4ms/step - loss: 766.8859 - mae: 766.8859
Epoch 16/50
1250/1250 [==============================] - 6s 5ms/step - loss: 763.6550 - mae: 763.6550
Epoch 17/50
1250/1250 [==============================] - 6s 5ms/step - loss: 763.9196 - mae: 763.9196
Epoch 18/50
1250/1250 [==============================] - 6s 5ms/step - loss: 763.2844 - mae: 763.2844
Epoch 19/50
1250/1250 [==============================] - 5s 4ms/step - loss: 764.1439 - mae: 764.1439
Epoch 20/50
1250/1250 [==============================] - 6s 5ms/step - loss: 762.8518 - mae: 762.8518
Epoch 21/50
1250/1250 [==============================] - 6s 4ms/step - loss: 761.7804 - mae: 761.7804
Epoch 22/50
1250/1250 [==============================] - 6s 5ms/step - loss: 762.5793 - mae: 762.5793
Epoch 23/50
1250/1250 [==============================] - 5s 4ms/step - loss: 760.4457 - mae: 760.4457
Epoch 24/50
1250/1250 [==============================] - 6s 4ms/step - loss: 760.4485 - mae: 760.4485
Epoch 25/50
1250/1250 [==============================] - 6s 5ms/step - loss: 762.2595 - mae: 762.2595
Epoch 26/50
1250/1250 [==============================] - 5s 4ms/step - loss: 761.2632 - mae: 761.2632
Epoch 27/50
1250/1250 [==============================] - 6s 5ms/step - loss: 759.1315 - mae: 759.1315
Epoch 28/50
1250/1250 [==============================] - 5s 4ms/step - loss: 757.4445 - mae: 757.4445
Epoch 29/50
1250/1250 [==============================] - 6s 5ms/step - loss: 759.2447 - mae: 759.2447
Epoch 30/50
1250/1250 [==============================] - 5s 4ms/step - loss: 760.6241 - mae: 760.6241
Epoch 31/50
1250/1250 [==============================] - 6s 5ms/step - loss: 760.0297 - mae: 760.0297
Epoch 32/50
1250/1250 [==============================] - 6s 4ms/step - loss: 760.1069 - mae: 760.1069
Epoch 33/50
1250/1250 [==============================] - 5s 4ms/step - loss: 759.4329 - mae: 759.4329
Epoch 34/50
1250/1250 [==============================] - 6s 5ms/step - loss: 757.4148 - mae: 757.4148
Epoch 35/50
1250/1250 [==============================] - 5s 4ms/step - loss: 758.8403 - mae: 758.8403
Epoch 36/50
1250/1250 [==============================] - 6s 5ms/step - loss: 757.8646 - mae: 757.8646
Epoch 37/50
1250/1250 [==============================] - 5s 4ms/step - loss: 756.7186 - mae: 756.7186
Epoch 38/50
1250/1250 [==============================] - 6s 5ms/step - loss: 758.8657 - mae: 758.8657
Epoch 39/50
1250/1250 [==============================] - 6s 4ms/step - loss: 759.1636 - mae: 759.1636
Epoch 40/50
1250/1250 [==============================] - 6s 5ms/step - loss: 755.9647 - mae: 755.9647
Epoch 41/50
1250/1250 [==============================] - 6s 4ms/step - loss: 759.2009 - mae: 759.2009
Epoch 42/50
1250/1250 [==============================] - 6s 5ms/step - loss: 756.5293 - mae: 756.5293
Epoch 43/50
1250/1250 [==============================] - 6s 5ms/step - loss: 757.4129 - mae: 757.4129
Epoch 44/50
1250/1250 [==============================] - 5s 4ms/step - loss: 756.6946 - mae: 756.6946
Epoch 45/50
1250/1250 [==============================] - 6s 5ms/step - loss: 756.4913 - mae: 756.4913
Epoch 46/50
1250/1250 [==============================] - 5s 4ms/step - loss: 756.9379 - mae: 756.9379
Epoch 47/50
1250/1250 [==============================] - 6s 5ms/step - loss: 756.5948 - mae: 756.5948
Epoch 48/50
1250/1250 [==============================] - 5s 4ms/step - loss: 756.1191 - mae: 756.1191
Epoch 49/50
1250/1250 [==============================] - 6s 5ms/step - loss: 757.0344 - mae: 757.0344
Epoch 50/50
1250/1250 [==============================] - 6s 4ms/step - loss: 755.9929 - mae: 755.9929

# **TESTING ACCURACY**

In [ ]:
model_02.evaluate(X_test, y_test)

313/313 [==============================] - 1s 3ms/step - loss: 732.8597 - mae: 732.8597

[732.8596801757812, 732.8596801757812]