<a href="https://colab.research.google.com/github/Chandu106/Regression_project_03_Diamond_price_prediction/blob/main/Diamond_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
diamond_01 = pd.read_csv("https://raw.githubusercontent.com/Chandu106/Regression_project_03_Diamond_price_prediction/main/Regression_data_01.csv")

In [4]:
diamond_01.head()

   carat        cut  cut_ord color clarity  clarity_ord  price
0   0.51    Premium        4     F     VS1            4   1749
1   2.25       Fair        1     G      I1            1   7069
2   0.70  Very Good        3     E     VS2            5   2757
3   0.47       Good        2     F     VS1            4   1243
4   0.30      Ideal        5     G    VVS1            7    789

In [7]:
len(diamond_01)

50000